In [4]:
import numpy as np
import pandas as pd
from random import randint

In [19]:
def rank_swap(p,input_path):
    
    data = input_path
    
    df = pd.read_csv(data)
    
    def conv(row):
        currency_dict = {"BGN": 1.9558, "NZD": 1.6805, "ILS": 4.0448, "RUB": 72.2099, "CAD": 1.5075, "USD": 1.1218,
                     "PHP": 58.125, "CHF": 1.1437, "ZAR": 16.0224, "AUD": 1.5911, "JPY": 124.93, "TRY": 6.6913,
                     "HKD": 8.8007, "MYR": 4.6314, "THB": 35.802, "HRK": 7.413, "NOK": 9.6678, "IDR": 15953.68,
                     "DKK": 7.4646, "CZK": 25.659, "HUF": 322.97, "GBP": 0.86248, "MXN": 21.2829, "KRW": 1308.01,
                     "ISK": 136.2, "SGD": 1.5263, "BRL": 4.405, "PLN": 4.2868, "INR": 78.0615, "RON": 4.7596,
                     "CNY": 7.5541, "SEK": 10.635}
        return row['amount'] / (currency_dict[row['currencycode']]*100)

    df['amount_eur'] = df.apply(lambda x: conv(x), axis=1)
    
    sortby_amt_eur = df.sort_values('amount_eur')
    
    sortedbyamtindex=sortby_amt_eur.index.to_list()
    
    param = p
    
    interval = int(len(df.index)*(p/100))
    value_list=[]
    for i in range(len(sortedbyamtindex)):
        if i in value_list:
            continue
        else:    
            value = randint(0,290381)
            while(abs(i-value)>interval):
                value = randint(0,290381)
            value_list.append(value)
            sortedbyamtindex[i], sortedbyamtindex[value] = sortedbyamtindex[value], sortedbyamtindex[i]
    
    print("halfway done")
    newdf=df.reindex(sortedbyamtindex)  
    
    amount=newdf["amount"]
    
    currencycode=newdf["currencycode"]
    
    df["amount"]=amount.values
    
    df["currencycode"]=currencycode.values
    
    df.drop(columns=["amount_eur"],inplace=True)
    
    sortby_date = df.sort_values('creationdate')
    
    sortby_date.head()
    
    sortedbydateindex=sortby_date.index.to_list()
    value_list=[]
    for i in range(len(sortedbydateindex)):
        if i in value_list:
            continue
        else:
            value = randint(0,290381)
            while(abs(i-value)>interval):
                value = randint(0,290381)
            value_list.append(value)    
            sortedbydateindex[i], sortedbydateindex[value] = sortedbydateindex[value], sortedbydateindex[i]
    
    newdf=df.reindex(sortedbydateindex)
    
    creationdate= newdf["creationdate"]
    
    df["creationdate"]=creationdate.values
    
    return df

In [20]:
rank_swap=rank_swap(10,"data_for_student_case.csv")

halfway done

In [18]:
rank_swap

,txid,bookingdate,issuercountrycode,txvariantcode,bin,amount,currencycode,shoppercountrycode,shopperinteraction,simple_journal,cardverificationcodesupplied,cvcresponsecode,creationdate,accountcode,mail_id,ip_id,card_id
0,1,2015-11-09 14:26:51,MX,mccredit,530056.0,1295.0,GBP,MX,Ecommerce,Chargeback,True,0,2015-07-07 14:30:14,MexicoAccount,email68370,ip111778,card184798
1,2,2015-11-09 14:27:38,MX,mccredit,547046.0,900.0,GBP,MX,Ecommerce,Chargeback,True,0,2015-07-02 19:13:36,MexicoAccount,email101299,ip78749,card151595
2,3,2015-11-23 16:34:16,MX,mccredit,528843.0,2075.0,GBP,MX,Ecommerce,Chargeback,True,0,2015-07-02 21:40:15,MexicoAccount,email278604,ip70594,card242142
3,4,2015-11-23 16:34:51,MX,mccredit,547146.0,17900.0,MXN,MX,Ecommerce,Chargeback,True,0,2015-07-01 20:30:13,MexicoAccount,email47409,ip113648,card181744
4,5,2015-11-09 14:26:08,MX,visaclassic,477291.0,1670.0,GBP,MX,Ecommerce,Chargeback,True,0,2015-07-08 16:00:47,MexicoAccount,email205501,ip83553,card97271
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
290377,482729,2015-11-03 18:57:01,SE,visadebit,453903.0,10800.0,GBP,SE,Ecommerce,Settled,True,1,2015-10-25 16:30:16,SwedenAccount,email135821,ip125573,card83162
290378,482731,2015-11-03 08:12:14,SE,mcdebit,554501.0,15000.0,GBP,SE,Ecommerce,Settled,True,1,2015-10-30 15:01:31,SwedenAccount,email259702,ip202029,card131519
290379,482732,2015-11-03 08:12:14,SE,visadebit,453903.0,17895.0,GBP,SE,Ecommerce,Settled,True,1,2015-10-21 16:49:11,SwedenAccount,email32927,ip229869,card142173
290380,482733,2015-11-03 18:56:44,SE,mcdebit,554501.0,16000.0,GBP,SE,Ecommerce,Settled,True,1,2015-10-07 10:27:45,SwedenAccount,email97400,ip200721,card141579
290381,482734,2015-11-03 08:12:14,SE,mcdebit,554501.0,11000.0,GBP,SE,Ecommerce,Settled,True,1,2015-10-23 23:39:41,SwedenAccount,email12831,ip199739,card269508